.rejection-reason h4{ font-family: 'hindsemibold'; letter-spacing: 0.1px; margin-top: 13px;}
<<<<<<< HEAD
.rejection-reason{padding-left: 15px;padding-right: 15px;font-size: 16px;font-family: 'hindseminormal';}
=======
.rejection-reason{
    padding: 15px 18px;
    font-size: 16px;
    font-family: 'hindseminormal';
    padding-left: 36px;
    height: 191px;}
>>>>>>> upstream/master
.cancelicon{float: right;cursor: pointer}
.message{max-width: 850px;}